@font-face {
  font-family: 'Open Sans';
  font-style: normal, italic;
  font-weight: 400, 500, 800;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk_RkWVAewA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    background-color: rgb(178, 240, 219);
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    text-align: center;
    
}

h1 {
    font-weight: 800;
}

h2 {
    color: rgb(54, 133, 107);
    font-style: italic;
    font-weight: 500;
}

table {
    border: 3px solid rgb(54, 133, 107);
    margin: 0 auto;
    width: 50%;
    border-collapse: collapse;
}

td {
    border-top: 1px solid rgb(54, 133, 107);
    padding: 5px;
}

td:not(:last-child) {
    text-align: center;
}

td:first-child span {
    color: lime;
    background-color: black;
    font-family: monospace;
}

th {
    background-color: rgb(97, 238, 191);
}